In [1]:
import pandas as pd
try: 
    from BeautifulSoup import BeautifulSoup
except ImportError:
    from bs4 import BeautifulSoup

In [13]:
df = pd.read_csv("sem7 results.csv")
df.head()

                  name        rollno   sgpa
0                AARTI  0101IT191001   6.21
1  ABHINAV VISHWAKARMA  0101IT191002   5.33
2       ABHISHEK AMODE  0101IT191003   4.67
3       ABHISHEK MEHRA  0101IT191004   4.38
4    ABHISHEK SANODIYA  0101IT191005   6.83

In [14]:
def get_subwise(enrollment):
    with open(f"raw 7 sem/{enrollment}.txt",'rb') as f:
        data = []
        subs = {}
        html = f.read()
        soup = BeautifulSoup(html)
        enrollment = soup.find('span',{'id':'ctl00_ContentPlaceHolder1_lblRollNoGrading'}).text 
        table = soup.find('table',{'id':'ctl00_ContentPlaceHolder1_gvGrading'})
        rows = table.find_all('tr')
        for row in rows:
            cols = row.find_all('td')
            cols = [ele.text.strip() for ele in cols]
            data.append([ele for ele in cols if ele]) # Get rid of empty values
        for row in data[1:]:
            subs[row[0][:5]] = row[-1]
    return subs    
    # with open('subwise.csv','a') as s:
    #     for key,val in sorted(subs.items(),key=lambda x:x[0]):
    #         s.write(enrollment,key,value)

In [16]:
allsubs = []
for i in range(1,70):
    try:
        allsubs.append(get_subwise('0101IT1910'+str(i).zfill(2)))
    except:
        print('Not found',i)
# allsubs

Not found 17
Not found 41
Not found 42
Not found 44
Not found 45
Not found 50
Not found 55
Not found 56
Not found 57
Not found 64
Not found 67
Not found 69

In [20]:
subsdf = pd.DataFrame(allsubs)
subsdf.columns = ['WMC','ML','OOAD','ECOM','Major','Intern']
subsdf.to_csv('subwise.csv',index=False)

In [21]:
subsdf.head()

  WMC  ML OOAD ECOM Major Intern
0   A  A+   C+    C     B      C
1   A   A    C    D     B      C
2   A   B    C    D    C+     C+
3   A  A+    D    D     B      C
4   A   A   B+    C     B     C+